#page_templates {

  li.template {
    float: left;
    padding: 0;
    margin: -20px 10px 0 0;

    label { cursor: pointer; }

    &.active {
      img {
        width: 80px;
        height: 100px;
      }
    }
  }

  input[type=radio] {
    display: none;
  }

  img {
    width: 60px;
    height: 75px;
    display: block;
    border: solid 1px #999;
  }

  li.template-info {
    padding: 5px 5px 0 5px;
    margin: 0 0 0 6px;
    max-width: 76%;
    margin-left: 20%;

    display: none;

    &.active {
      display: block;
    }

    p {
      clear: both;
    }

    li {
      margin-left: 20px;
      list-style: disc;
    }
  }
}
