body.dragging, body.dragging * {
  cursor: move !important;
}

.effective-menu ul.nav > li.placeholder {
  &:before {
    margin-top: -6px;
    border-left: 5px solid transparent;
    border-top: 5px solid red;
    border-bottom: none;
    border-right: 5px solid transparent;
  }
}

.effective-menu li.placeholder {
  position: relative;

  &:before {
    position: absolute;
    content: "";
    height: 0px;
    width: 0px;
    left: -5px;
    top: -4px;
    margin-top: -5px;
    border-left: 5px solid red;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: none;
  }
}
