= form.input text_area_tag.name, :as => :text, :label => (text_area_tag.label.present? ? text_area_tag.label : false), :required => text_area_tag.required || false, :input_html => {:placeholder => text_area_tag.placeholder, :class => text_area_tag.html_class}
