= form.input check_box_tag.name, :as => :boolean, :label => (check_box_tag.label.present? ? check_box_tag.label : false), :required => check_box_tag.required || false, :input_html => {:class => check_box_tag.html_class}
