.mercury-snippet-panel
  .filter
    %input{:class => 'filter focusable', :type => 'text'}
  %ul
    %li{'data-filter' => 'form, field, text, text_field, text_field_tag'}
      %img{:src => '/assets/effective_mercury/default-snippet.png', :alt => 'Text Field', 'data-snippet' => 'text_field_tag', }
      %h4 Text Field Tag
      .description A form text field
    %li{'data-filter' => 'example, snippet, favorite, beer'}
      %img{:src => '/assets/effective_mercury/default-snippet.png', :alt => 'Snippet Name', 'data-snippet' => 'example', }
      %h4 Snippet Name Seven
      .description A one or two line long description of what this snippet does.
