.mercury-snippet-panel
  .filter
    %input{:class => 'filter focusable', :type => 'text'}
  %ul
    - EffectivePages.snippets.each do |snippet|
      %li{'data-filter' => snippet.snippet_filter || snippet.demodulized_class_name}
        %img{:src => snippet.snippet_image || '/assets/effective_mercury/default-snippet.png', :alt => snippet.snippet_name, 'data-snippet' => snippet.demodulized_class_name }
        %h4= snippet.snippet_name
        .description= snippet.snippet_description || 'No Description'
