= effective_form_with(model: menu, url: (menu.persisted? ? effective_pages.admin_menu_path(menu) : effective_pages.admin_menus_path)) do |f|
  = f.text_field :title, hint: 'Give this menu a title'

  = f.submit
