%h1= @page_title

%p
  Click Reorder to drag & drop reorder menu items.
  Edit an item to reorder its children items.

- EffectivePages.menus.each do |menu|
  %h3 #{menu.to_s.titleize} Menu
  - datatable = EffectivePagesMenuDatatable.new(menu: menu)
  = render_datatable(datatable, simple: true, inline: true)
  %hr.my-5
