%h2= @page_title

%p.text-right= link_to 'New Menu', effective_pages.new_admin_menu_path, :class => 'btn btn-primary'

= render_datatable @datatable do
  %p There are no menus

- if @datatable.present?
  %p.text-right= link_to 'New Menu', effective_pages.new_admin_menu_path, :class => 'btn btn-primary'
