- EffectivePages.menus.each do |menu|
  .bg-white.my-5.p-3.rounded
    %h3.mb-0 #{menu.to_s.titleize} Menu
    - datatable = EffectivePagesMenuDatatable.new(menu: menu)
    = render_datatable(datatable, simple: true, inline: true)
